body{
    margin: 0;
    padding: 0;
}
.first-screen{
    background-image: url(../img/2.jpg);
    background-size: cover; 
    height: 620px;
}
.header{
    display: flex;
    background-color: rgba(52, 74, 218, 0.6);
    width: 100%;
    
}
.logo{
    margin-left: 50px;
    margin-top: 3px;
    display: flex;
    width: 20px;
    color: white;
    opacity: 1;
}
.header-menu{
    margin-top: 40px;
    margin-left: 25%;
    display: flex;
}
.header-menu a{
    padding-right: 20px; 
    text-decoration: none;
    color: white;
}
.content{
    margin-left: 380px; 
    width: 700px;
    margin-top: 150px;
    position:relative;
    color: white;
    text-align: left;
}
.content h1{
    font-size: 45px;
}
.content p{
    width: 400px;
}
.content button{
    border: 3px solid white;
    background-color: transparent;
    color: white;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
}
.content button:hover{
    border: 3px solid palevioletred;
    background-color: Transparent;
    color: palevioletred;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
}
.first-screen-block{
    position: absolute;
    background-color: rgba(52, 74, 218, 0.6);
    width: 30%;
    height: 525px;
    z-index: 0;
    margin-left: 250px;
}

@media only screen and (max-width :)

/* 2-й блок*/

.slider{
    margin-top: 100px;
    display: flex;
    
}

.main{
    width: 800px;
    display:flex;
    margin-bottom: 50px;
}


.first{
    position: relative;
    width: 440px;
    height: 300px;
    background-image: url(../img/ns.png);
    background-size: cover;
}
.first:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
  }
.first:first-child{
    position: relative;
    width: 440px;
    height: 300px;
    background-image: url(../img/ns.png);
    background-size: cover;
    margin-right: 20px;
}
.first-item{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    margin-top: 160px;
    margin-left: 100px;
    width: 220px;
    height: 120px;
    background-color: white;
    z-index: 1;
}


.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro div:first-child {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.intro div:first-child p{
    font-size: 25px;
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
}

.intro div:first-child img{
    width:80px;
}

/* 3-й блок*/

.rent{
    margin-left: 285px;
}
.left-text{
    color: gray;
}
.rent-intro{
    display: flex;
}

.rent-intro p{
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.rent-intro img{
    width: 80px;
}

.rent-body{
    display: flex;
    align-items: center;
}

.rent-body__left{
    max-width: 300px
}

.rent-body__right{
    max-width: 665px;   
}

.rent-button img{
    width: 40px;
}

.rent-button{
    margin-right: 10px;
}

.right-header{
    margin-left:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header p{
    margin-left: 5px;
    font-size: 18px;
}

.rent-body__right{
    width:500px;
    height: 250px;
    margin-left: 50px;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #005BC1;
}

.right-body{
    display: flex;
}

.rightbody_left img{
    width: 220px;
}

.body-header{
    font-weight: 700;
}

.right-main{
    color: gray;
    font-size: 12px;
}

.right-main li{
    margin-top:10px;
}

/* 4й блок*/
.news {
    margin-bottom: 100px;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}
    
.news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
    
.news-top__left {
    display: flex;
    align-items: center;
}
    
.news-top__left p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
    
.news-btn {
    text-decoration: none;
    color: #fff;
    background-color: #005BC1;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
 }
    
.news-main1 {
    display: flex;
}
    
.main1-left {
    display: flex;
    width: 450px;
    align-items: center;
}
    
.main1-left img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    padding: 0;
}
    
.main1__left__text {
    padding-top: -20px;
    width: 200px;
}
    
.main1__left__text__top {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    justify-content: space-between;
}
    
.main1__left__text__top h1 {
    color: #343434;
    font-size: 14px;
}
    
.main1__left__text__top p {
    color: #979797;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
    
.main1__left__text__mid p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #343434;
}
    
.main1__left__text__mid a {
    text-decoration: none;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
    

.main2__right {
    display: flex;
}
    
.main2__right__left {
    margin-left: 20px;
}
    
.main2__right__left h1 {
    color: #343434;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.main2__right__left2 {
        width: 60px;
}
    
.main2__right__left p {
    color: #343434;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
    
.main2__right__left__down {
    display: flex;
}
    
.main2__right__left__down img {
    width: 125px;
    height: 125px;
}
    
.main2__right__left__down p {
    color: #979797;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}



/* footer-block */
.footer{
    background-color: #005BC1;
    margin-top: 50px;
}

.footer-inner{
    max-width: 800px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-block1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: white;
}

.footer-block2 {
    opacity: 0.7;
    display: flex;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.footer-block2 a{
    text-decoration: none;
    color: white;
  
}

.footer__block2-text1{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0 110px 0 0;
}

.footer-block3{
    display: flex;
    
}

.footer-block3 a{
    text-decoration: none;
    color: white;
    align-items: flex-start; 
    margin: 0 110px 0 0;
    opacity: 0.7;
}

